<div class="col-lg-12 mt-3" *ngIf="!user || !topics">
    <img src="/assets/images/loading.gif" alt="cargando...">
</div>
<div class="col-lg-12 mt-3" *ngIf="user && topics" >
    
    <div class="col-lg-12">
        <div  class="avatar_mask_profile float-left mr-3" *ngIf="user.image">
            <img src="{{ url + 'avatar/'+user.image }}" class="avatar_nav" alt="avatar de usuario">
        </div>
        <div  class="avatar_mask_profile float-left mr-3" *ngIf="!user.image">
            <img src="assets/images/user-default.png" class="avatar_nav" alt="avatar de usuario">
        </div>
        
        <h1>{{user.name + ' ' + user.surname}}</h1>
    </div>
    
    <div class="clearfix"></div>
    
    <div class="col-lg-12">
        <ul class="list-group list-topics mt-5">
            <li class="list-group-item" *ngFor="let topic of topics">
                <h4>
                    <a [routerLink]="['/tema', topic._id]">{{topic.title}}</a>
                </h4>
               
                <span class="badge badge-light">
                    {{topic.date | amLocale: 'es' | amTimeAgo }}
                </span>
                <a [routerLink]="['/tema', topic._id]" class="btn btn-sm btn-success float-right mx-auto d-block">Leer</a>
                
            </li>
            
        </ul>
    </div>
   
    <div class="clearfix"></div>
    <br>
    
    
      

</div>